// where I used to put my index content

// bring normalize css styles
@import-sanitize;

// bring front family
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap'); 

html{
    font-size: 10px;
    box-sizing: border-box;
    background-color: var(--color-gray-100);

}

img{
    max-width: 100%;
}
