:root{
    // where the colors and other variables live
    /* colors */
    //primary
    --color-red: hsl(0, 78%, 62%);
    --color-cyan: hsl(180, 62%, 55%);
    --color-orange: hsl(34, 97%, 64%);
    --color-blue: hsl(212, 86%, 64%);
    // neutral
    --color-blue-900: hsl(234, 12%, 34%);
    --color-grayish-blue: hsl(229, 6%, 66%);
    --color-gray-100: hsl(0, 0%, 98%);

    /* media break points */
    --mobile-size: 37.5rem;
    --desktop-size: 144rem;

}